on:
  push:
    tags: ["v*"]

defaults:
  run:
    working-directory: src/LeanCode.Kratos.Client

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0'
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release
      - name: Pack
        run: dotnet pack --no-build --configuration Release
      - name: Push
        run: dotnet nuget push './bin/Release/*.nupkg' -s 'https://api.nuget.org/v3/index.json' -k "${NUGET_API_KEY}"
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
